@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
#page-formulario {
  display: flex;
  background: #002852;
  flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;
}

#page-formulario header {
    height: 95px;
    background: #003771;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }

    #page-formulario h3 {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    /* or 15px */

    align-items: center;
    text-align: center;

    color: #ffffff;
    }

.header_textos {
    display: flex;
    position: absolute;
    right: 51px;
}

.header_textos h3 {
    padding: 12px;
    color: white;
    display: -webkit-inline-box;
    transition: .2s;
}

.header_textos h3:hover {
    color: #bbbbbb;
}

#page-formulario main {
  flex: 1;
}

.titulos{
    color:#FFFFFF;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 16px 0;
}

.titulos h1 {

font-size: 21px;
line-height: 26px;
}

.titulos h2 {
    font-size: 16px;
    line-height: 20px;
}


.ct {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 16px;
}


.ct h2 {
    padding: 8px;
}
.grids {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.spacing {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.info_saved {
font-family: 'Open Sans Condensed';
font-style: normal;
font-weight: bold;
align-items: center;
text-align: center;
margin: 32px;
color: #AEFFAC;}


.hidder {
    display: none !important;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #ccc;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    background: #B5FFB4;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #3EA949;
}

.testes label {
    width: 64px;
    height: 64px;
}


.circle {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: red;
    display: inline-block;
    position: absolute;
}

.circle.big {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 100px;
}

.one {
    left: -25px;
    top: -25px;
}

.two {
    top: -60px;
    left: 50px;
}

.three {
    right: -25px;
    top: -25px;
}


.four {
    left: -25px;
    bottom: -25px;
}

.five {
    bottom: -60px;
    left: 50px;
}

.six {
    right: -25px;
    bottom: -25px;
}

@media only screen and (max-width: 600px) {
    #page-formulario header img {
        width: 50%;
        height: auto;
    }

    .header_textos {
        position: relative;
        right: -10px;
    }
    #page-formulario header  {
display: flex;
align-content: center;
justify-content: center;
    }

}

.input-block label {
    color: white
}

.ocorrencia {
    width: 200px;
height: 55px;

background: #FFFFFF;
border-radius: 50px;
align-content: center;
justify-content: center;
margin: auto;
text-align: center;
color: #002852;
display: grid;
padding: 32px;
margin: 32px auto;
}

.ocorrencia:hover {
    border: 1px solid #D9D9D9;
box-sizing: border-box;
box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.25);
border-radius: 50px;
cursor: pointer;
}
.ocorrencia p {
    font-family: Open Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 29px;

color: #003770;
text-align: center;

}